apiVersion: v1
kind: Service
metadata:
  name: flink-jobmanager
  namespace: squirrly
spec:
  type: ClusterIP
  ports:
    - name: rpc
      port: 6123
      targetPort: 6123
    - name: blob-server
      port: 6124
      targetPort: 6124
    - name: webui
      port: 8081
      targetPort: 8081
  selector:
    app: flink
    component: jobmanager

